.petritable {
    border: 1px solid black;
    border-collapse: collapse;
}
.deadcell {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    width: 4px;
    height: 4px;
    background-color: white;
}
.alivecell {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    width: 4px;
    height: 4px;
    background-color: black;
}